body {
    overflow-x: hidden;
}

.navbar{
    position: relative;
    z-index: 1;
}

.navbar .nav-item{
    background-color: grey;
}

.navbar-brand{
    width: 194px;
    height: 53px;
    background: url(img/riseloka.png);
    margin-top: 20px;
    margin-left: 10px;
}

/*SEARCH*/
nav ul li:nth-last-child(1) a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-top: 10px;
}

nav ul li:nth-last-child(1) a img {
    width: 25px;
    height: 25px;
}
/*SEARCH AKHIR*/

/*JUMBOTRON*/

.jumbotron{
    background-image: url(img/banner.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.jumbotron .display-4{
    font-family: Gilroy-Bold,sans-serif;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

.jumbotron .lead{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.container button {
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease;
    text-align: center;
    margin-left: 140px;
    margin-top: 10px;
}

.container button:hover {
    background-color: white;
    color: #4C3494;
}
.dekorasi1{
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.dekorasi2{
    background: transparent;
    width: 71px;
    height: 71px;
    position: absolute;
    right: 1000px;
    bottom: 450px;
}

/*JUMBOTRON AKHIR*/


/*SLIDE 2*/

.slide2{
    width: 100%;
    height: 770px;
    background-color: white;
    position: absolute;
    bottom: -547px;

}

.dekorasi3{
    width: 100px;
    position: absolute;
    right: 0;
}

.banner{
    width: 200px;
    position: absolute;
    top: -210px;
    right: 70px;
}

.lingkaran{
    width: 40px;
    margin-top: -10px;
    margin-left: 400px;
}

.slide2-word{
    margin-top: 100px;
    margin-left: 20px;
}

.slide2-word h1{
    font-family: Gilroy-Bold;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: #4C3494;
}

.slide2-word p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    color: #515151;
    margin-top: 20px;
}

/*overview*/
.overview {
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    padding: 150px;
    position: absolute;
    top: 100px;
    right: -30px;
}

.overview .item-overview {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview .item-overview:nth-last-child(1) {
    border: none;
}

.overview .item-overview img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.overview .item-overview h5 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.overview .item-overview p {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #333;
    margin-top: 10px;
    line-height: 130%;
}

.dekorasi4{
    width: 100px;
    position: absolute;
    position: absolute;
    left: 0;
    bottom: 0;
}


/*END*/


/*SLIDE3*/

.slide3{
    width: 100%;
    height: 350px;
    background-color: white;
    position: absolute;
    bottom: -895px;
}

.indonesia{
    width: 450px;
    margin-top: 70px;
    margin-left:20px;
}

.dekorasi5{
    width: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.content1{
    position: absolute;
    top: 110px;
    left: 100px;
}

.content1 h1{
    font-family: Gilroy-Bold;
    font-size: 32px;
    line-height: 30px;
    color: #4C3494;
    text-align: center;
    font-weight: bold;
}

.content1 p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    color: #515151;
    margin-top: 10px;

}

.content1 button{
    margin-top: -1px;
    text-align: center;
}

.content1 .btn1{
    font-family: roboto;
    font-size: 10px;
    color:  #4C3494;
    background-color: transparent;
    border: 1px solid #4C3494;;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    left: 35px;

}

.content1 .btn1:hover{
    background-color: black;
    color: white;
}

.content1 .btn2{
    font-family: roboto;
    font-size: 10px;
    color: #FFFFFF;
    background-color: #4C3494;
    border: 1px solid #4C3494;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    right: 30px;

}

.content1 .btn2:hover{
    background-color: black;
    color: white;
}


/*END*/


/*SLIDE 4*/

.slide4{
    width: 100%;
    height: 500px;
    background-color: white;
    position: absolute;
    bottom: -1390px;
}

.dekorasi6{
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
}


.kaos{
    width: 100px;
    background: #DDEEE9;
    position: absolute;
    top: 50px;
    left: 20px;
    
    
}

.kameja{
    width: 100px;
    background: #F7EFE0;
    position: absolute;
    top: 50px;
    right: 35px;

    
    
}

.tas{
    width: 100px;
    background: #DAD7DF;
    position: absolute;
    top: 155px;
    right: 265px;
    
    
}

.sepatu{
    width: 140px;
    height: 160px;
    background: #D7E2EA;
    position: absolute;
    top: 155px;
    right: 250px;
   
    
}

.slide4-3 h1{
    font-family: Gilroy-Bold, sans-serif;
    font-size: 25px;
    color: #4C3494;
    line-height: 30px;
    font-weight: 750;
    position: absolute;
    top: 80px;
    right: 40px;
   
}

.produk h4{
    font-size: 20px;
}

.produk p{
    font-size: 12px;
}

.slide4-4 .produk{
    position: absolute;
    right: -270px;
    top: 160px;
    

}

.slide4-4 .ceklis1{
    width: 20px;
    position: absolute;
    bottom: 48px;
    left: -10px;
}

.beragam h4{
    font-size: 20px;
}

.beragam p{
    font-size: 12px;
}

.slide4-4 .beragam{
    position: absolute;
    right: -270px;
    top: 220px;
    
}

.beragam .ceklis2{
    width: 20px;
    position: absolute;
    bottom: 48px;
    left: -10px;
}

.marketing h4{
    font-size: 20px;
}

.marketing p{
    font-size: 12px;
}


.marketing {
   position: absolute;
   right: -270px;
   top: 280px;
    
}

.marketing .ceklis3{
    width: 20px;
    position: absolute;
    bottom: 48px;
    left: -10px;
}

.membantu h4{
    font-size: 20px;
}

.membantu p{
    font-size: 12px;
}

.membantu{
    position: absolute;
    right: -250px;
    top: 340px;
    
}

.membantu .ceklis4{
    width: 20px;
    position: absolute;
    bottom: 48px;
    left: -10px;
}

.daftar button{
    font-family: roboto;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #4C3494;
    border: 1px solid #4C3494;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease;
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    right: 50px;
    top: 400px;
}

.dekorasi7{
    width: 100px;
    position: absolute;
    left: 30px;
    bottom: 50px;
}

/*FOOTER*/

.footer{
        position: absolute;
        bottom: -1970px;
        width: 100%;
        height: 400;
        background-color:#e9eff0;
}

.logo img{
        width: 170px;
        margin-top: 20px;
        margin-left: 10px;
}

.word a{
    text-decoration: none;
    color: #8c9091;
}

.word a:hover{
    color: #4C3494;
}

.word{
    display: inline-block;
    margin-left: -5px;
    margin-top: 10px;
}

.word p{
    font-size: 12px;
}

.word2{
    margin-top: 20px;
}

.word3{
    margin-top: 20px;
    margin-left: 15px;
}

.donload img{
    display: block;
    width: 150px;
    margin-left: 10px;
}

.donload .appstore{
    position: absolute;
    top: 5px;
}

.donload .playstore{
    position: absolute;
    bottom: -110px;
}

.copyright{
    margin-top: 130px;
    border-top: 1px solid #d1d5de;
}

.copyright h5{
    font-size: 16px;
    color: #8c9091;
    margin-top: 35px;
    margin-left: 20px;
}

/*FOOTER END*/






/*DEKSTOP VERSION*/

@media (min-width: 992px) { 


body {
    overflow-x: hidden;
}

/*NAVBAR*/
.navbar{
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.navbar .nav-item{
    background-color: transparent;
}

.navbar-brand{
    width: 194px;
    height: 53px;
    background: url(img/riseloka.png);
    margin-left: 20px;
    margin-top: 20px;
}

.nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
}
/*NAVBAR AKHIR*/

/*SEARCH*/
nav ul li:nth-last-child(1) a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
}

nav ul li:nth-last-child(1) a img {
    width: 25px;
    height: 25px;
}
/*SEARCH AKHIR*/


/*JUMBOTRON*/

.jumbotron{
    width: 100%;
    background-image: url(img/banner.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.jumbotron .display-4{
    font-family: Gilroy-Bold,sans-serif;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-top: 155px;
    font-weight: bold;
}

.jumbotron .lead{
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    margin-top: 20px;
}

.container button {
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease;
    text-align: center;
    margin-left: 465px;
    margin-top: 20px;
}

.container button:hover {
    background-color: white;
    color: #4C3494;
    text-decoration: none;
}


.dekorasi1{
    width: 150px;
    height:150px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.dekorasi2{
    width: 71px;
    height: 71px;
    position: absolute;
    right: 1000px;
    bottom: 450px;
}

/*JUMBOTRON AKHIR*/


/*SLIDE 2*/

.slide2{
    width: 100%;
    height: 900px;
    background-color: white;
    position: absolute;
    bottom: -900px;

}

.dekorasi3{
    width: 150px;
    position: absolute;
    right: 0;
}

.banner{
    width: 600px;
    top: 10px;
    right: 70px;
}

.lingkaran{
    width: 40px;
    position: absolute;
    top: 620px;
}

.slide2-word{
    margin-top: 280px;
    margin-left: 100px;
}

.slide2-word h1{
    font-family: Gilroy-Bold;
    font-size: 70px;
    line-height: 85px;
    font-weight: bold;
    color: #4C3494;
}

.slide2-word p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #515151;
    margin-top: 50px;
}

/*overview*/
.overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 150px;
    position: absolute;
    top: 520px;
    right: 120px;
}

.overview .item-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(0, 0, 0, .2);
    width: 300px;
}

.overview .item-overview:nth-last-child(1) {
    border: none;
}

.overview .item-overview img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.overview .item-overview h5 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.overview .item-overview p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #333;
    margin-top: 10px;
    line-height: 130%;
}

.dekorasi4{
    width: 150px;
    position: absolute;
    position: absolute;
    left: 0;
    bottom: 0;
}


/*END*/



/*SLIDE3*/

.slide3{
    width: 100%;
    height: 730px;
    background-color: white;
    position: absolute;
    bottom: -1600px;
}

.indonesia{
    width: 1280px;
    margin-top: 100px;
    margin-left:40px;
}

.dekorasi5{
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.content1{
    position: absolute;
    top: 220px;
    left: 350px;

}

.content1 h1{
    font-family: Gilroy-Bold;
    font-size: 75px;
    line-height: 88px;
    color: #4C3494;
    text-align: center;
    font-weight: bold;
}

.content1 p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #515151;
    margin-top: 30px;

}

.content1 button{
    margin-top: 30px;
    text-align: center;
}

.content1 .btn1{
    font-family: roboto;
    font-size: 16px;
    color:  #4C3494;
    background-color: transparent;
    border: 1px solid #4C3494;;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 30px;
    margin-left: 100px;
}

.content1 .btn1:hover{
    background-color: black;
    color: white;
}

.content1 .btn2{
    font-family: roboto;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4C3494;
    border: 1px solid #4C3494;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    right: 110px;

}

.content1 .btn2:hover{
    background-color: black;
    color: white;
}


/*END*/

/*SLIDE 4*/

.slide4{
    width: 100%;
    height: 780px;
    background-color: white;
    position: absolute;
    bottom: -2380px;
}

.dekorasi6{
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
}


.kaos{
    width: 225px;
    background: #DDEEE9;
    position: absolute;
    top: 50px;
    left: 100px;
    
    
}

.kameja{
    width: 225px;
    background: #F7EFE0;
    position: absolute;
    top: 50px;
    right: 130px;

    
    
}

.tas{
    width: 225px;
    background: #DAD7DF;
    position: absolute;
    top: 280px;
    left: -590px;
    
    
}

.sepatu{
    width: 310px;
    height: 320px;
    background: #D7E2EA;
    position: absolute;
    top: 280px;
    right: 735px;
   
    
}

.slide4-3 h1{
    font-family: Gilroy-Bold, sans-serif;
    font-size: 60px;
    color: #4C3494;
    line-height: 80px;
    font-weight: 750;
    position: absolute;
    top: 100px;
    right: 210px;
   
}

.produk h4{
    font-size: 25px;
}

.produk p{
    font-size: 12px;
}

.slide4-4 .produk{
    position: absolute;
    right: -700px;
    top: 300px;
    

}

.slide4-4 .ceklis1{
    width: 32px;
    position: absolute;
    bottom: 48px;
    left: -30px;
}

.beragam h4{
    font-size: 25px;
}

.beragam p{
    font-size: 12px;
}

.slide4-4 .beragam{
    position: absolute;
    right: -950px;
    top: 300px;
    
}

.beragam .ceklis2{
    width: 32px;
    position: absolute;
    bottom: 48px;
    left: -30px;
}

.marketing h4{
    font-size: 25px;
}

.marketing p{
    font-size: 12px;
}


.marketing {
   position: absolute;
   right: -700px;
   top: 400px;
    
}

.marketing .ceklis3{
    width: 32px;
    position: absolute;
    bottom: 48px;
    left: -30px;
}

.membantu h4{
    font-size: 25px;
}

.membantu p{
    font-size: 12px;
}

.membantu{
    position: absolute;
    right: -950px;
    top: 400px;
    
}

.membantu .ceklis4{
    width: 32px;
    position: absolute;
    bottom: 48px;
    left: -30px;
}

.daftar button{
    font-family: roboto;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #4C3494;
    border: 1px solid #4C3494;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s ease;
    padding-right: 30px;
    padding-left: 30px;
    position: absolute;
    right: 500px;
    top: 510px;
    z-index: 
}

.dekorasi7{
    width: 150px;
    position: absolute;
    left: 30px;
    bottom: 70px;
}

/*END*/


.footer{
        position: absolute;
        bottom: -2760px;
        width: 100%;
        height: 386px;
        background-color:#e9eff0;
}

.logo img{
        width: 170px;
        margin-top: 90px;
        margin-left: 100px;
}

.word a{
    text-decoration: none;
    color: #8c9091;
}

.word a:hover{
    color: #4C3494;
}

.word{
    display: inline;
    position:absolute;
    top: 70px;
    right: 830px;
}

.word p{
    font-size: 18px;
}

.word2{
    position: absolute;
    left: 210px;
    top: -20px;
}

.word3{
    position: absolute;
    left: 400px;
    top: -20px;
}

.donload img{
    display: block;
    width: 240px;
    margin-left: 1000px;
}

.donload .appstore{
    position: absolute;
    top: -80px;
}

.donload .playstore{
    position: absolute;
    bottom: -100px;
}

.copyright{
    margin-top: 160px;
    border-top: 1px solid #d1d5de;
}

.copyright h5{
    color: #8c9091;
    margin-top: 35px;
    margin-left: 20px;
}

/*FOOTER ENDA*/


.container2{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -100px;
}

.container3{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -170px;
}

.container4{
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 30px;
}


}